* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
font-family: 'Josefin Sans';
background-color: #f1eeef;

}
.cute {
max-width: 60px;
max-height: 40px;
margin: 0 20px;
}
.bar {
border-bottom: 3px solid #753434;
}
.content,.bar {
text-decoration: none;
color: #3a1212;
}
.latter {
margin-top: 30px;
background-color: #3a1212;
color: white;
font-weight: bold;
font-size: large;
padding: 10px 35px;
border-radius: 6px;
border: none;
box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.15);
letter-spacing: 1px;
cursor: pointer;
}
.latter:active {
background-color: #271010;
box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
.short {
margin-top: 10px;
border-radius: 49px;
width: 300px;
max-height: fit-content;
box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
}
@media screen and (min-width:900px) {
.short {
  margin-left: 490px;
  width: 700px;
  margin-top: 0;
  border-radius: 49px;
  max-height: fit-content;
  box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
}
}
@media screen and (min-width:700px) {
.short {
  margin-left: 410px;
  width: 400px;
  margin-top: -280px;
  border-radius: 49px;
  max-height: fit-content;
  box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
}
}
.middle {
height: 50px;
width: 400px;
font-weight: 350px;
border: none;
border-radius: 6px;
}
.middle:active {
border: hidden;
outline: none;
overflow: hidden;
background-color: rgb(209, 209, 235);
box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
cursor: pointer;
}
.middle::selection {
border: hidden;
outline: none;
overflow: hidden;
background-color: rgb(240, 212, 209);
box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
@media screen and (min-width:900px) {
.middle {
  height: 50px;
  width: 1110px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  background-color: white;
}
}
@media screen and (min-width:900px) {
.middle {
  height: 50px;
  width: 800px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  background-color: white;
}
}
.through {
margin-top: 2px;
margin-left: 5px;
background-color: #e79b65;
color: rgb(49, 33, 18);
font-size: large;
padding: 12px 35px;
border-radius: 5px;
text-transform: none;
border: none;
box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.55);
letter-spacing: 1px;
cursor: pointer;
}
.through:active {
box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
cursor: pointer;
}

::-webkit-scrollbar {
width: 0px;
}
.right-arrow,
.left-arrow {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FF2625;
  font-size: 25px;
  border-radius: 4px;
  position: absolute;
  bottom: -20px;
  right: 80px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.right-arrow {
right: 140px;
}

.right-arrow:hover,
.left-arrow:hover {
  transform: scale(1.3, 1.3);
}

.react-horizontal-scrolling-menu--wrapper {
width: 100%;
display: flex;
flex-wrap: wrap;
}

.detail-image {
width: 729px;
height: 742px;
}



.exercise-card {
width: 400px;
height: 445px;
background: #fff;
border-top: 4px solid #FF2625;
border-bottom-left-radius: 20px;
text-decoration: none;
display: flex;
justify-content: space-between;
flex-direction: column;
padding-bottom: 10px;
transform: scale(1, 1);
transition: 0.3s all ease-in-out;
}

.exercise-card img {
height: 326px;
}

.bodyPart-card {
transform: scale(1, 1);
transition: 0.3s all ease-in-out;
background: rgb(235, 209, 188);
border-bottom-left-radius: 20px;
width: 270px; 
height: 282px; 
cursor: pointer; 
gap: 47px;
}

::-webkit-scrollbar {
width: 0px;
}

.right-arrow,
.left-arrow {
cursor: pointer;
background: transparent;
outline: none;
border: none;
display: flex;
justify-content: center;
align-items: center;
color: #FF2625;
font-size: 25px;
border-radius: 4px;
position: absolute;
bottom: -20px;
right: 80px;
transform: scale(1, 1);
transition: 0.3s all ease-in-out;
}

.right-arrow {
right: 140px;
}

.right-arrow:hover,
.left-arrow:hover {
transform: scale(1.3, 1.3);
}

.react-horizontal-scrolling-menu--wrapper {
width: 100%;
display: flex;
flex-wrap: wrap;
}

.detail-image {
width: 729px;
height: 742px;
}


.exercise-card {
width: 400px;
height: 445px;
background: #fff;
border-top: 4px solid #FF2625;
border-bottom-left-radius: 20px;
text-decoration: none;
display: flex;
justify-content: space-between;
flex-direction: column;
padding-bottom: 10px;
transform: scale(1, 1);
transition: 0.3s all ease-in-out;
}

.exercise-card img {
height: 326px;
}

.bodyPart-card {
transform: scale(1, 1);
transition: 0.3s all ease-in-out;
}

.exercise-card:hover,
.bodyPart-card:hover {
transform: scale(1.1, 1.1);
}

.search-btn:hover {
color: #FF2625 !important;
border: 1px solid #FF2625 !important;
}

.exercise-video {
display: flex;
flex-direction: column;
gap: 24px;
width: 387px;
height: 381px;
text-decoration: none;
}

@media screen and (max-width:1200px) {
.detail-image {
  width: 300px;
  height: 300px;
}


.react-horizontal-scrolling-menu--scroll-container {
  width: 500px;
}

.left-arrow,
.right-arrow {
  position: static !important;
}

.hero-banner-img {
  display: none;
}

.exercise-card {
  width: 320px;
}

.exercise-video {
  width: 320px;
  height: 300px;
}

}

@media screen and (max-width:400px) {
.exercise-card {
  width: 280px;
}
}